body {
  background-color: #efefef;
  font-family: "PT Serif", Georgia, "Source Han Serif SC", "Source Han Serif CN", "Source Han Serif", "Source Han Serif JP", "Noto Serif", "Noto Serif SC", "Noto Serif JP", serif;
}

article {
  max-width: 720px;
  margin: 60px auto;
}
